@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}

button {
    outline: none !important;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

:root {
    --purple-1: #35155D;
    --pink-1: #DA0C81;
    --pink-2: #b4086a;
    --pink-3: #c81e7e;
    --bg-blue: #200755;
    --lineal: #512B81;
    --white: #f4f4f4;
    --gray: #cecece;
}

body {
    background-color: var(--bg-blue);
    color: var(--white);
}

.header {
    background-color: var(--purple-1);

    border-bottom: 1px solid var(--pink-1);
    border-radius: 0px 0px 10px 10px;

    position: absolute;
    z-index: 2;
    width: 100%;
}

.header__container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 16px 32px;
}

.header__container a {
    font-size: 40px;
    font-weight: 700;
    background: linear-gradient(180deg, var(--pink-1) 0%, var(--lineal) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header__container a:hover {
    animation: logo 1s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

@keyframes logo  {
    10% {
        background: linear-gradient(190deg, var(--pink-1) 20%, var(--lineal) 80%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    15% {
        background: linear-gradient(195deg, var(--pink-1) 20%, var(--lineal) 80%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    20% {
        background: linear-gradient(200deg, var(--pink-1) 20%, var(--lineal) 80%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    25% {
        background: linear-gradient(205deg, var(--pink-1) 20%, var(--lineal) 80%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    30% {
        background: linear-gradient(210deg, var(--pink-1) 20%, var(--lineal) 80%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    35% {
        background: linear-gradient(215deg, var(--pink-1) 20%, var(--lineal) 80%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    40% {
        background: linear-gradient(220deg, var(--pink-1) 20%, var(--lineal) 80%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    45% {
        background: linear-gradient(225deg, var(--pink-1) 20%, var(--lineal) 80%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    50% {
        background: linear-gradient(230deg, var(--pink-1) 20%, var(--lineal) 80%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    55% {
        background: linear-gradient(225deg, var(--pink-1) 20%, var(--lineal) 80%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    60% {
        background: linear-gradient(220deg, var(--pink-1) 20%, var(--lineal) 80%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    65% {
        background: linear-gradient(215deg, var(--pink-1) 20%, var(--lineal) 80%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    70% {
        background: linear-gradient(210deg, var(--pink-1) 20%, var(--lineal) 80%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    75% {
        background: linear-gradient(205deg, var(--pink-1) 20%, var(--lineal) 80%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    80% {
        background: linear-gradient(200deg, var(--pink-1) 20%, var(--lineal) 80%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    85% {
        background: linear-gradient(195deg, var(--pink-1) 20%, var(--lineal) 80%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    90% {
        background: linear-gradient(190deg, var(--pink-1) 20%, var(--lineal) 80%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    95% {
        background: linear-gradient(175deg, var(--pink-1) 20%, var(--lineal) 80%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    100% {
        background: linear-gradient(180deg, var(--pink-1) 20%, var(--lineal) 80%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.about__section {
    background-image: url('../img/bg.png');
    background-repeat: no-repeat;
    background-size: cover;

    height: 100%;
    width: 100%;

    position: relative;
    top: 0;
    left: 0;
}

.about__section_content {
    background: rgba(81, 43, 129, 0.55);

    padding: 160px 16px 16px 16px;

    width: 100%;
    height: 100%;
}

.about__div_content {
    max-width: 1280px;
    margin: 0 auto;
}

.about__section_content h1 {
    font-size: 32px;
    font-weight: 700;
    position: relative;
    margin-bottom: 60px;
}

.about__section_content h1::after {
    content: 'Guid Pro Singer';
    font-size: 20px;
    font-weight: 400;
    position: relative;
    left: -60px;
    top: 20px;
}

.about__section_content h1::before {
    content: '';
    display: block;
    background-color: var(--pink-1);
    height: 2px;
    width: 132px;
    position: relative;
    top: 42px;
}

.about__section_content span {
    font-size: 24px;
    font-weight: 600;
}

.about__p_small {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
}

.about__p_general {
    font-size: 24px;
    font-weight: 500;
    line-height: 33px;

    max-width: 610px;

    margin-bottom: 36px;
}

.about__section_content a {
    color: var(--white);
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;

    background: var(--pink-1);

    display: block;

    max-width: fit-content;

    margin-bottom: 140px;
    padding: 12px 16px;
    border-radius: 50px;

    transition-property: background-color, transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.about__section_content a:hover {
    background-color: var(--pink-2);
    transform: scale(1.15);
}

.about__section_content a:active {
    background-color: var(--pink-3);
}

.containsOf__section {
    padding: 120px 16px 60px 16px;
}

.containsOf__div_container h2 {
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 60px;
}

.containsOf__div {
    background-color: rgba(81, 43, 129, 0.35);
    backdrop-filter: blur(4px);

    max-width: 950px;

    margin: 0 auto;

    padding: 36px 60px;
    
    border: 1px solid var(--pink-1);
    border-radius: 20px;
}

.containsOf__div  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;

    margin-bottom: 110px;
}

.containsOf__li {
    max-width: 383px;
}

.containsOf__li div {
    color: var(--pink-1);
    font-size: 32px;
    font-weight: 500;
    line-height: 78.125%;

    background-color: transparent;

    max-width: fit-content;
    max-height: fit-content;

    margin-bottom: 8px;

    padding: 22px 24px;

    border: 1px solid var(--pink-1);
    border-radius: 50%;
}

.containsOf__li:first-child div {
    padding: 20px 27px;
}

.containsOf__li h3 {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.25;

    margin-bottom: 8px;
}

.containsOf__li p {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.25;
}

.containsOf__p_small {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

.forWho__div_container h2 {
    font-size: 32px;
    font-weight: 700;
    line-height: 1;
    text-align: center;

    margin-bottom: 80px;
}

.forWho__div {
    background-color: rgba(81, 43, 129, 0.35);
    backdrop-filter: blur(4px);

    max-width: 1440px;

    margin: 0 auto;

    padding: 40px 60px 20px 60px;

    border: 1px solid var(--pink-1);
    border-radius: 20px;
}

.forWho__div h3 {
    font-size: 32px;
    font-weight: 700;
    line-height: 1;

    margin-bottom: 8px;
}

.forWho__div span {
    color: var(--pink-1);
    font-size: 24px;
    font-weight: 500;
    line-height: 1;
}

.forWho__ul span {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;

    display: block;

    max-width: fit-content;

    margin: 0 auto;
    margin-bottom: 12px;

    padding: 10px 16px;

    border-radius: 50px;
    border: 1px solid var(--pink-1);
}

.forWho__ul p {
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2;
}

.forWho__ul li {
    max-width: 415px;
}

.forWho__ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 32px;

    margin-top: 40px;
    margin-bottom: 80px;
}

.forWho__div p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
}

.forWho__section {
    padding: 60px 16px;
}

.subscription__div-section_container {
    padding: 60px 0;
    max-width: fit-content;
    margin: 0 auto;
}

.subscription__div-section_container h2 {
    font-size: 32px;
    font-weight: 700;
    text-align: center;

    margin-bottom: 80px;
}

.subscription__div_container {
    background-color: rgba(81, 43, 129, 0.35);
    backdrop-filter: blur(4px);

    width: 380px;

    margin: 0 auto;

    padding: 32px 28px 60px 28px;

    border: 1px solid var(--pink-1);
    border-radius: 20px;
}

.subscription__div_container h3 {
    font-size: 32px;
    font-weight: 700;
    text-align: center;

    margin-bottom: 40px;
}

.subscription__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 44px;
}

.subscription__sub-list li {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.6;
}

.subscription__sub-list {
    max-width: 240px;
    margin-bottom: 110px;
}

.last {
    margin-bottom: 40px;
}

.subscription__sub-list span{
    position: relative;
    left: 24px;
}

.subscription__sub-list span::after {
    content: '';
    display: block;
    border: 1px solid var(--pink-1);
    position: relative;
    top: -21px;
    left: -24px;
    border-radius: 50%;
    height: 16px;
    width: 16px;
}

.subscription__two-strings-span span::after {
    content: '';
    display: block;
    border: 1px solid var(--pink-1);
    position: relative;
    top: -46px;
    left: -24px;
    border-radius: 50%;
    height: 16px;
    width: 16px;
}

.subscription__div_container button {
    color: var(--white);
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;

    background: var(--pink-1);

    display: block;

    max-width: fit-content;

    margin: 0 auto;
    padding: 12px 16px;
    border: 0px;
    border-radius: 50px;

    transition-property: background-color, transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.subscription__div_container button:hover {
    background-color: var(--pink-2);
    transform: scale(1.15);
}

.subscription__div_container button:active {
    background-color: var(--pink-3);
}

.aboutMe__container {
    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: 900px;

    margin: 0 auto;

    padding: 60px 16px 120px 16px;
}

.aboutMe__container h2 {
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;

    margin: 32px 0 60px 0;
}

.aboutMe__container p {
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.1; /* 112.5% */
}

.footer__background {
    background-image: url('../img/footer.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-top-right-radius: 20px;
}

.blur {
    background: rgba(81, 43, 129, 0.55);

    width: 100%;
    height: 100%;

    border: 1px solid var(--pink-1);
    border-radius: 20px 20px 0 0;
}

.footer__container {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 36px 16px 120px 16px;
}

.footer__container h2 {
    color: var(--pink-1);
    font-size: 32px;
    font-weight: 700;
    line-height: 1.03;
    margin-bottom: 28px;
}

.footer__container ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;

    max-width: 560px;
}

.footer__container a {
    color: var(--white);

    display: block;

    position: relative;

    transition-property: transform;
    transition-duration: 350ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__container a::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 1.5px;
    background-color: var(--pink-1);
}

.footer__container a::before {
    transition-property: width;
    transition-duration: 350ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__container a:hover {
    color: var(--gray);
    transform: scale(1.1);
}

.footer__container a:hover:before {
    width: 100%;
}

/* MODAL */

.modal__blur {
    background: rgba(81, 43, 129, 0.55);
    backdrop-filter: blur(4px);

    width: 100vw;
    height: 100vh;

    display: block;

    position: fixed;
    z-index: 5;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
}

.modal__container {
    background-color: rgba(53, 21, 93, 0.75);
    backdrop-filter: blur(6px);

    max-width: 630px;

    margin: 0 auto;
    margin-top: 20px;

    border: 1px solid var(--pink-1);
    border-radius: 20px;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
}

.hidden {
    display: none;
}

.modal__select {
    display: flex;
    flex-direction: column;
}

.modal__select span {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.3;
}

.selectNative,
.selectCustom {
    position: relative;
    width: 360px;
    height: 32px;
    margin-bottom: 12px;
}

.selectCustom {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    max-width: 350px !important;
}

@media (hover: hover) {

    .selectCustom {
        display: block;
    }

    .selectNative:focus+.selectCustom {
        display: none;
    }
}

.selectNative:focus,
.selectCustom.isActive .selectCustom-trigger {
    outline: none;
}

.select {
    position: relative;
}

.selectLabel {
    display: block;
    font-weight: 500;
    margin-bottom: 4px;
}

.selectWrapper {
    position: relative;
}

.selectNative,
.selectCustom-trigger {
    font-size: 16px;
    background-color: var(--purple-1);
    border: 1px solid var(--pink-1);
    border-radius: 20px;
}

.selectNative {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url("data:image/svg+xml;utf8,<svg fill='white' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 0.8rem;
    padding: 0rem 0.8rem;
    color: var(--white);

    max-width: 350px !important;
}

.selectCustom-trigger {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: var(--purple-1);
    padding: 8px 16px;
    cursor: pointer;
}

.selectCustom-trigger::after {
    content: "▾";
    position: absolute;
    top: 0;
    line-height: 30px;
    right: 0.8rem;
    color: var(--white);
}

.selectCustom-trigger:hover {
    border-color: var(--white);
}

.selectCustom-options {
    position: absolute;
    top: 36px;
    left: 0;
    width: 100%;
    border: 1px solid var(--pink-1);
    border-radius: 20px;
    background-color: var(--purple-1);
    box-shadow: 0 0 4px var(--pink-1);
    padding: 12px 0;
    z-index: 1;
    display: none;
}

.selectCustom.isActive .selectCustom-options {
    display: block;
}

.selectCustom-option {
    position: relative;
    padding: 6px;
    padding-left: 2.5rem;
}

.selectCustom-option.isHover,
.selectCustom-option:hover {
    background-color: #865bd7; 
    color: var(--bg-blue);
    cursor: pointer;
}

.selectCustom-option:not(:last-of-type)::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid var(--pink-1);
}

.selectCustom-option.isActive::before {
    content: "✓";
    position: absolute;
    left: 0.8rem;
}

.input {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.35;
    
    display: flex;
    
    flex-direction: column;
    width: 350px;
}

.input label {
    margin-bottom: 4px;
}

.input input {
    outline: none;

    background-color: transparent;

    color: var(--white);

    padding: 12px 8px;

    border: 1px solid var(--pink-1);
    border-radius: 20px;

    transition-property: padding, border-radius, background-color;
    transition-duration: 350ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    margin-bottom: 12px;
}

.input input:focus {
    padding: 12px 16px;

    background-color: var(--purple-1);

    border-radius: 10px;
}

.form {
    padding: 32px 16px 80px 16px;
    max-width: fit-content;
    margin: 0 auto;
}

#btn {
    color: var(--white);
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;

    background: var(--pink-1);

    display: block;

    max-width: fit-content;

    margin: 0 auto;
    margin-top: 44px;
    padding: 12px 16px;
    border: 0px;
    border-radius: 50px;

    transition-property: background-color, transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

#btn:hover {
    background-color: var(--pink-2);
    transform: scale(1.15);
}

#btn:active {
    background-color: var(--pink-3);
}

#close_btn {
    border-radius: 50%;
    border: 1px solid var(--pink-1);

    color: var(--white);
    padding: 8px 14px;
    cursor: pointer;

    font-size: 16px;
    font-weight: 600;

    background-color: var(--lineal);

    margin-left: auto;
    max-width: fit-content;
    margin-top: 12px;
    display: block;
    margin-right: 16px;

    transition-property: background-color, transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

#close_btn:hover {
    background-color: var(--purple-1);
    transform: scale(1.1);
}

#close_btn:active {
    background-color: var(--bg-blue);
}

.review__container {
    padding: 60px 16px;
    max-width: fit-content;
    margin: 0 auto;
}

.review__container h2 {
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 80px;
}

.review__container ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.review__container ul li img {
    border: 2px solid var(--pink-1);
    max-width: 520px;
}

@media screen and (max-width: 320px) {
    .subscription__div_container {
        width: 280px;
    }

    .input {
        width: auto;
        font-size: 16px;
    }

    .selectNative {
        max-width: fit-content !important;
    }

    .selectCustom-trigger::after {
        top: -22px;
    }
}

@media screen and (min-width: 321px) and (max-width: 420px) {
    .subscription__div_container {
        width: 320px;
    }

    .selectNative {
        max-width: fit-content !important;
    }

    .input {
        width: auto;
        font-size: 16px;
    }
}

@media screen and (max-width: 475px) {
    .about__section_content {
        padding-left: 16px;
        padding-right: 16px;
    }

    .modal__select span {
        font-size: 16px;
    }

    #btn {
        margin-top: 24px;
    }

    .input {
        width: auto;
        font-size: 16px;
    }

    .about__section_content h1{
        font-size: 26px;
        text-align: center;

        margin-bottom: 40px;
        margin-left: 40px;
    }
    
    .about__section_content h1::before {
        width: 126px;

        top: 38px;
        right: -2px;
    }

    .about__section_content h1::after {
        left: -54px;
    }

    .about__p_general {
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.3;

        max-width: 320px;

        margin-bottom: 44px;
    }

    .about__section_content span {
        font-size: 18px;
        font-weight: 500;
    }


    .about__div_content div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about__section_content a {
        margin-bottom: 180px;
    }

    .about__p_small {
        color: #F4F4F4;
        text-align: center;
        font-size: 12px;
        font-weight: 500;
        line-height: 1.3;
    }

    .containsOf__section {
        padding-top: 80px;
        padding-bottom: 40px;
    }

    .containsOf__div_container h2 {
        font-size: 24px;
        line-height: 1.3;
    }

    .containsOf__li p {
        font-size: 16px;
    }
    
    .containsOf__div {
        padding-left: 16px;
        padding-right: 16px;
    }
    
    .containsOf__div ul {
        margin-bottom: 120px;
    }

    .containsOf__p_small {
        text-align: center;
        font-size: 12px;
        font-weight: 400;
        line-height: 1.3;
    }

    .forWho__div_container h2 {
        font-size: 24px;
        font-weight: 700;
        line-height: 1.3;

        margin-bottom: 60px;
    }
    
    .forWho__section {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    
    .forWho__div h3 {
        text-align: center;
        font-size: 20px;
        font-weight: 700;
        line-height: 1.6;
    }

    .forWho__div {
        padding-right: 36px;
        padding-left: 36px;
    }

    #forWho__p_media {
        text-align: center;
        font-size: 20px;
        font-weight: 600;
        line-height: 1.2;
        
        display: block;
    }

    .forWho__div span {
        text-align: center;
        font-size: 16px;
        font-weight: 500;
        line-height: 1;

        display: block;
    }

    .forWho__ul {
        margin-top: 60px;
        margin-bottom: 80px;
        gap: 16px;
    }

    .forWho__div p {
        text-align: center;
        font-size: 12px;
        font-weight: 400;
        line-height: 1.3;
    }

    #forWho__description_media {
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
    }
    
    .subscription__div-section_container {
        padding: 40px 16px;
    }

    .subscription__div-section_container h2 {
        font-size: 24px;
        font-weight: 700;
        line-height: 1.1;

        margin-bottom: 60px;
    }

    .aboutMe__container p {
        text-align: center;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.1;
    }

    .footer__container h2 {
        text-align: center;
        font-size: 20px;
        line-height: 1.6;
    }

    .footer__container {
        padding: 60px 16px;
    }

    .footer__container ul {
        flex-direction: column;
    }

    .footer__background {
        background-image: url('../img/media-footer.png');
        border-top-right-radius: 20px;
    }

    .form {
        padding: 20px 16px;
    }

    .modal__blur {
        padding: 0 16px;
    }

    .subscription__sub-list {
        margin-left: auto;
        margin-right: auto;
    }

    .subscription__div_container {
        padding-left: 16px;
        padding-right: 16px;
    }
}

@media screen and (min-width: 476px) and (max-width: 768px) {
    .about__section_content {
        padding-left: 16px;
        padding-right: 16px;
    }

    #btn {
        margin-top: 24px;
    }

    .input {
        width: auto;
        font-size: 16px;
    }

    .input input {
        margin-bottom: 8px;
    }

    .modal__select span {
        font-size: 16px;
    }

    .about__section_content h1{
        font-size: 26px;
        text-align: center;

        margin-bottom: 40px;
        margin-left: 40px;
    }
    
    .about__section_content h1::before {
        width: 126px;

        top: 38px;
        right: -4px;
    }

    .about__section_content h1::after {
        left: -54px;
    }

    .about__p_general {
        text-align: center;
        font-size: 24px;
        font-weight: 500;
        line-height: 1.3;

        max-width: 620px;

        margin-bottom: 60px;
    }
    
    .about__div_content div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about__section_content span {
        font-size: 24px;
        font-weight: 600;
    }

    .about__section_content a {
        margin-bottom: 180px;
    }

    .about__p_small {
        text-align: center;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.2;
    }

    .form {
        padding: 20px 16px;
    }

    .modal__blur {
        padding: 0 16px;
    }

    #forWho__p_media {
        text-align: center;
        font-size: 20px;
        font-weight: 600;
        line-height: 1.2;
        
        display: block;
    }

    #forWho__description_media {
        text-align: center;
        font-size: 20px;
        font-weight: 400;
        line-height: 1.2;
    }

    .forWho__div h3 {
        font-size: 26px;
        text-align: center;
        font-weight: 600;
    }

    .forWho__div span {
        text-align: center;
    }

    .footer__background {
        background-image: url('../img/media-footer.png');
    }
}

@media screen and (min-width: 425px) and (max-width: 768px) {
    .about__section_content h1::before {
        width: 100px;
    }
}

@media screen and (min-width: 769px) and (max-width: 900px) {
    .containsOf__div {
        padding-left: 40px;
        padding-right: 40px;
        max-width: 500px;
    }

    .containsOf__div ul {
        gap: 20px;
    }
}

@media screen and (max-width: 860px) {
    .review__container ul li img {
        max-width: 280px;
    }


}

@media screen and (min-width: 901px) and (max-width: 1440px) {
    .containsOf__div {
        padding-left: 40px;
        padding-right: 40px;
    }

    .containsOf__div ul {
        gap: 20px;
    }
}